<div id="background">
  <div id="login-form">
    <div class="container">
      <h1>Login To Chat</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="img-placeholder">
          <img src="{{myImage}}" (click)="image.click()" >
        </div>
        <input type="file" #image accept="image/*" (change)="imgUpload($event)">
        <div class="name">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" formControlName="name">
        </div>
        <div class="description">
          <label for="description">Something interesting about you</label>
          <textarea name="description" id="description" formControlName="description"></textarea>
        </div>

        <div class="gender">
          <label for="gender">Your Gender</label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male" color='warn'>Male</mat-radio-button>
            <mat-radio-button value="female" color='warn'>Female</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="interested">
          <label for="interested">Interested In</label>
          <mat-radio-group formControlName="interested">
            <mat-radio-button value="male" color='warn'>Male</mat-radio-button>
            <mat-radio-button value="female" color='warn'>Female</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="button-row">
          <button mat-raised-button color="warn" type="submit" [disabled]="!loginForm.valid">join chat room</button>
        </div>
      </form>

    </div>
  </div>
</div>