.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgb(220, 220, 220);
}

.sidenav{
    background-color: white;
    width: 30%;
}

mat-sidenav-content{
    margin-left: 30% !important;
}

mat-card{
    background-color: white;
}

.messages{
    height: 90%;
    overflow-y: scroll;
    padding-bottom: 3%;
    box-sizing: border-box;
}