<h2 mat-dialog-title *ngIf="send">Select Image</h2>
<mat-dialog-content style="height:500px">
  <div class="img-placeholder">
    <img src="{{image}}" (click)="openInput(imageInput)">
  </div>
  <input type="file" #imageInput accept="image/*" id="imageInput" (change)="imgUpload($event)" [hidden]="send">
  <mat-form-field class="msg-form" *ngIf="send">
    <textarea mat-autosize matInput placeholder="Your Message" class="msg" [(ngModel)]="text"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button style="color:#38c55b" (click)="sendImage()" *ngIf="send">Send</button>
</mat-dialog-actions>