<h2 mat-dialog-title>Select Image</h2>
<mat-dialog-content>
  <div class="img-placeholder" style="text-align:center;">
    <img src="{{send_image}}" (click)="image.click()" style="width:250px;height:250px;">
  </div>
  <input type="file" #image accept="image/*" id="image" (change)="imgUpload($event)">
  <mat-form-field class="msg-form" style="width:100%;">
    <textarea mat-autosize matInput placeholder="Your Message" class="msg" [(ngModel)]="send_text"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions style="float:right;">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button style="color:#38c55b" (click)="sendImage()">Send</button>
</mat-dialog-actions>