<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sidenav" *ngIf="ws.pairingStatus" >
    <img src={{ws.partner_image}} class="partner-image">
    <div class="partner-info">
      <h1 class="name">{{ws.partner_name}}</h1>
      <p class="description">{{ws.partner_description}}</p>
      <p class="gender">Gender : <span class="capitalize">{{ws.partner_gender}}</span></p>
      <p class="Interested">Interested in : <span class="capitalize">{{ws.partner_interested}}</span></p>
    </div>
    <button class="logout" (click)="logout()">Leave Chat Room</button>
  </mat-sidenav>
  <mat-sidenav-content style="height: 90%;">
    <div style="width:100%;height:3%;"></div>
    
    <div *ngFor="let message of messages">
      <div class="message-container" *ngIf="message.from != 'admin'" [ngStyle]="{'min-height':message.from == 'me'?'50px':'70px'}">
        <mat-card [ngClass]="message.from == 'me'?'mine':'yours'">
          <div [ngClass]="message.from == 'me'?'right-side-arrow':'left-side-arrow'"></div>
          <mat-card-title class="msg-sender" *ngIf="message.from != 'me'" [style.color]="colors[randomNumber]">
            {{message.from}}
          </mat-card-title>
          <mat-card-content class="msg-text">
            <img src="{{message.image}}" *ngIf="message.image" (click)="showImage(message)" style="height:200px;width:200px;margin-bottom: 5px;">
            <p *ngFor="let line of message.text">{{line}}</p>
          </mat-card-content>
          <mat-card-footer class="msg-time">
            {{message.date}}
          </mat-card-footer>
        </mat-card>
      </div>
    
      <div *ngIf="message.from == 'admin'">
        <mat-card class="admin-msg">
          <mat-card-content>
            {{message.text}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div style="height:10%;width: 100%;"></div>

    <div>
      <app-new-message></app-new-message>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <div style="width:100%;height:3%;"></div>

<div *ngFor="let message of messages">
  <div *ngIf="message.from != 'admin'" [ngStyle]="{'height':message.from == 'me'?'70px':'90px'}">
    <mat-card [ngClass]="message.from == 'me'?'mine':'yours'">
      <div [ngClass]="message.from == 'me'?'right-side-arrow':'left-side-arrow'"></div>
      <mat-card-title class="msg-sender" *ngIf="message.from != 'me'">
        {{message.from}}
      </mat-card-title>
      <mat-card-content class="msg-text">
        {{message.text}}
      </mat-card-content>
      <mat-card-footer class="msg-time">
        {{message.date}}
      </mat-card-footer>
    </mat-card>
  </div>

  <div *ngIf="message.from == 'admin'">
    <mat-card class="admin-msg">
      <mat-card-content>
        {{message.text}}
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
