.msg-card{
    bottom: 0;
    position: fixed;
    box-sizing: border-box;
    width: 70%;
    background-color: white;
    border-radius: 0;
    padding-top: 0%;
    height: 10%;
    padding-bottom: 0.8%;
}
.msg-form{
    width: 80%;
    padding: 1%;
}

.msg-button{
    font-weight: bold;
    width: 12%;
    height: 38px;
    margin-left: 4%;
}